<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>제품 정보</title>
</head>
<body>
	<h1>제품 정보</h1>
	<p><label>제품명</label> : <span th:text="${productResponseDto.product}"></span></p>
	<p><label>남은 수량</label> : <span th:text="${productResponseDto.productCount}"></span></p>
	<p><label>판매가</label> : <span th:text="${productResponseDto.cost}"></span></p>
	
	<form method="POST" th:action="@{/order/make}" th:object="${orderMakeDto}">
		<input type="hidden" name="productId" value="24L001" />
		<input type="number" name="selectedCount" value="1" min="1" required />
		<input type="submit" value="주문" />
	</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</html>