<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>신규 주문 등록</title>
</head>
<body>
	<h1>신규 주문 등록</h1>
	<!-- action 명 별도로 지정하지 않아도 요청 가능 -->
	<!-- 대신 그럴 경우 요청 경로랑 url이 일치해야 함 -->
	<h1>제품 정보</h1>
		<p><label>제품명</label> : <span th:text="${productOrderDto.product}"></span></p>
		<p><label>판매가</label> : <span th:text="${productOrderDto.cost}"></span></p>
		
	<form method="POST" th:action="@{/order/create}" th:object="${orderCreateDto}">
		<p>수량 : <input type="number" name="selectedCount" th:value="${productOrderDto.selectedCount}" min="1" required readonly /> </p>
		<p>총 가격 : <input type="text" name="totalCost" th:value="${productOrderDto.cost * productOrderDto.selectedCount}" required readonly /></p>
		<p>구매자 성명 : <input type="text" name="ordererName" required /></p>
		<p>주문 조회 비밀번호 : <input type="password" name="orderPassword" required /></p>
		<p>전화번호 : <input type="text" name="phoneNumber" placeholder="000-000-0000" required /></p>
		<p>주소 : <input type="text" name="address" required /></p>
	<div>
	<input type="hidden" name="productId" th:value="${productOrderDto.productId}" />
	<input type="submit" value="저장" />
	&nbsp;
	<input type="button" onclick="location.href=document.referrer;" value="취소">
</div>
</form>
</body>
</html>
