<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="footer">
        <div class="contact-info">
            <p>Contact Us: <a href="tel:+1234567890">+82 234 567 890</a></p>
            <p>Email: <a href="mailto:info@iwanttogohome.com">info@iwanttogohome.com</a></p>
        </div>
        <div class="address">
            <address>
                서울특별시 강서구 화곡동 화곡로 179 서울<br>
                
            </address>
        </div>
<!--         <div class="social-media">
            <p>Follow us on:</p>
            <p>
                <a href="#">Facebook</a> | 
                <a href="#">Twitter</a> | 
                <a href="#">Instagram</a>
            </p>
        </div> -->
        <div class="copyright">
            <p>&copy; 2024 집가고싶다.</p> 
            <p>All rights reserved.</p>
        </div>
    </div>
</html>
